 .u-section-1 {
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
  min-height: 821px;
}

.u-section-1 .u-group-1 {
  width: 711px;
  min-height: 287px;
  height: auto;
  margin: 389px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-gallery-1 {
  height: 821px;
  margin-top: -676px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 50px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: none;
  font-weight: normal;
  margin: -766px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 22px 43px 23px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -68px calc(((100% - 1140px) / 2) + 706px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 677px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 688px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 519px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 516px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 389px;
  }

  .u-section-1 .u-group-1 {
    width: 426px;
    margin-top: 190px;
    margin-right: calc(((100% - 1140px) / 2) + 114px);
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -634px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 358px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 207px;
    margin-left: calc(((100% - 540px) / 2) + 218px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 747px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -486px;
  }

  .u-section-1 .u-over-slide-1 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-3 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-4 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-5 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-6 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-7 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-8 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-9 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-10 {
    padding: 100px;
  }

  .u-section-1 .u-over-slide-11 {
    padding: 100px;
  }

  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -174px;
    margin-right: auto;
    padding: 17px 26px 18px 25px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -642px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 975px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 813px;
  margin: 33px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 80px auto 27px;
  padding: 23px 54px 24px 52px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 114px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 726px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  width: 397px;
  font-weight: normal;
  margin: 43px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 97px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/IMG_2242.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-group-1 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/IMG_2240.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-group-2 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/IMG_2237.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-3 .u-group-3 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 11px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

.u-section-3 .u-image-4 {
  background-image: url("images/IMG_2239.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-3 .u-group-4 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 11px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-4 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

.u-section-3 .u-image-5 {
  background-image: url("images/IMG_2238.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-3 .u-group-5 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 11px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-5 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

.u-section-3 .u-image-6 {
  background-image: url("images/IMG_2238.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-3 .u-group-6 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px 11px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-6 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

.u-section-3 .u-image-7 {
  background-image: url("images/IMG_2238.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-13 {
  padding: 10px 0;
}

.u-section-3 .u-group-7 {
  min-height: 265px;
  height: auto;
  background-image: none;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px 11px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 38px auto 0;
}

.u-section-3 .u-btn-7 {
  font-size: 0.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 309px;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 828px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2484px;
    grid-template-columns: 50% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-7 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 998px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px 17px;
  margin: 36px 0 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 29px 29px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 90px;
    height: 90px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3537px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 68px;
    height: 68px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 68px;
    height: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 43px;
    height: 43px;
  }

  .u-section-4 .u-carousel-thumbnail-8 {
    width: 43px;
    height: 43px;
  }
} .u-section-5 {
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 623px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 70px auto 0;
}

.u-section-5 .u-form-1 {
  height: 419px;
  width: 743px;
  --thumb-color: #70bee8;
  --thumb-hover-color: #98d1ef;
  --track-color: #c0c0c0;
  --track-active-color: #70bee8;
  margin: 20px auto 60px;
}

.u-section-5 .u-form-group-1 {
  margin-left: 0;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 17px 94px 19px 93px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-5 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-5 .u-text-1 {
    width: 199px;
    font-weight: 700;
    margin-top: 0;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
} .u-section-6 {
  min-height: 685px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 685px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  min-height: 685px;
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 40px 40px 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-6 .u-list-1 {
  margin: 21px 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 254px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-6 .u-icon-1 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-6 .u-icon-2 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 21px auto 0 20px;
  padding: 38px 74px 38px 73px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 913px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-6 .u-image-1 {
    min-height: 565px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 50px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 50px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 496px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-6 .u-image-1 {
    min-height: 433px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 913px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 650px;
  }

  .u-section-6 .u-icon-1 {
    height: 36px;
    width: 36px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 66px;
  }

  .u-section-6 .u-icon-2 {
    height: 36px;
    width: 36px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-6 .u-image-1 {
    min-height: 409px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 68px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 68px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 40px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 11px;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}