 .u-section-1 {
  background-image: url("images/1614440259_36-p-temnii-derevyannii-fon-60.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-gallery-1 {
  height: 701px;
  width: 503px;
  margin: 55px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 31.95%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    height: 528px;
    margin-top: 142px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-1 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-1 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-1 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-1 .u-back-image-6 {
    object-position: 50% 93.52%;
  }

  .u-section-1 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-1 .u-back-image-7 {
    object-position: 50% 45.71%;
  }

  .u-section-1 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 0;
    padding: 8px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 0;
    padding: 8px;
  }
}